@mixin block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin yellow{
    background-color: #FFCC4A;
}
@mixin green{
    background-color: #4EAF4E;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
.home{
    .background1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 783px;
        background-image: url(./Home_assets/Photo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffffD8;
            width: 551px;
            height: 395px;
            border-radius: 29px;
            margin-right: 900px;
            >div{
                width: 435px;
                height: 285px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                h2{
                    font-size: 45px;
                }
                >p{
                    font-size: 15px;
                }
                button{
                    font-size: 17px;
                    border-radius: 42px;
                    height: 61px;
                }
                button:nth-child(1){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 167px;
                    color: white;
                    background-color: black
                }
                button:nth-child(2){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 201px;
                    color: black;
                    background-color: white;
                    border: 1px solid #EBEBEB;
                    >div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 181px;
                    }
                }
                >div{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }
    .background2{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1800px;
            opacity: 50%;
        }
    }
    .background3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 770px;
        >div{
            width: 1200px;
            height: 468px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >div{
                display: flex;
                flex-direction: column;
                width:  420px;
                height: 100%;
                justify-content: space-between;
                >div:nth-child(1){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFCC4A;
                    width: 120px;
                    height: 24px;
                    color: black;
                    text-transform: uppercase;
                    font-weight: 500;
                    border-radius: 20px;
                    letter-spacing: 2px;
                }
                >h2{
                    font-size: 40px;
                }
                >h3{
                    font-size: 18px;
                }
                >p{
                    font-size: 15px;
                    color: #595566;
                }
                >div:nth-child(5){
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;
                    height: 130px;
                    width: 380px;
                    >div{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        >div{
                            width: 170px;
                            height: 94px;
                            border-radius: 15px;
                            background-color: #F6F6F6;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            h5{
                                font-size: 30px;
                                padding-left: 7px   ;
                            }
                            p{
                                font-weight: 16px;
                                font-weight: 600;
                            }
                            >div{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .background4{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1200px;
        background-color: #F5F5F5;
        >div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 842px;
            >div:nth-child(1){
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #4EAF4E;
                color: white;
                width: 120px;
                height: 24px;
                border-radius: 20px;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            >h2{
                font-size: 45px;
                width: 900px;
                text-align: center;
            }
            >div:nth-child(3){
                width: 1200px;
                height: 668px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px; 
                >div{
                    width: 387px;
                    height: 324px;
                    background-color: #EBEBEB;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    p{
                        font-size: 14px;
                        color: #595566;
                    }
                    >div{
                        width: 293px;
                        height: 226px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        align-items: start;
                        h3{
                            font-size: 25px;
                        }

                    }
                }
                >div:nth-child(2){
                    background-color: #181818;
                    color: white;
                        p{
                        color: white;
                    }
                }
            }
        }
    }
    .background5{
        width: 100%;
        height: 1025px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            width: 1200px;
            height: 723px;
            display: flex;
            justify-content: space-between;
            >div:nth-child(1){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 507px;
                height: 683px;
                >div:nth-child(1){
                    width: 127px;
                    height: 24px;
                    background-color: #4EAF4E;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                h2{
                    font-size: 45px;
                }
                >p{
                    font-size: 16px;
                    color: #595566;
                }
                >div:nth-child(4){
                    width: 459px;
                    height: 411px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    >div{
                        display: flex;
                        justify-content: space-between;
                        width: 400px;
                        height: 81px;
                        >div:nth-child(1){
                            width: 52px;
                            height: 52px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 150px;
                            font-size: 24px;
                        }
                        .one{
                            color: black;
                            background-color: #FFCC4A;
                        }
                        .two{
                            color: white;
                            background-color: #4EAF4E;
                        }
                        .three{
                            color: white;
                            background-color: #181818;
                        }
                        >div:nth-child(2){
                            width: 331px;
                            height: 81px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            h3{
                                font-size: 20px;
                            }
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            >div:nth-child(2){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 573px;
                height: 723px;
                >div:nth-child(1){
                    width: 319px;
                    height: 24px;
                    background-color: #FFCC4A;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                h2{
                    font-size: 45px;
                }
                >p{
                    font-size: 16px;
                    color: #595566;
                }
                >div:nth-child(4){
                    width: 573px;
                    height: 461px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 17px;
                    grid-row-gap: 14px; 
                    >div{
                        width: 280px;
                        height: 222px;
                        background-color: #FAFAFA;
                        border-radius: 20px;
                        border: 1px solid #EAEAEA;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        >div{
                            width: 234px;
                            height: 156px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;
                            h3{
                                font-size: 20px;
                            }
                            p{
                                font-size: 15px;
                                color: #595566;
                            }
                        }
                    }
                }
            }
        }
    }
    .background6{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 1146px;
        >div:nth-child(1){
            display: flex;
            justify-content: start;
            align-items: start;
            width: 100%;
            height: 1146px;
            position: absolute;
            >div{
                background-image: url(Home_assets/Background.png);
                background-color: #181818;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 645px;
            }
        }
        >div:nth-child(2){
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 1200px;
            height: 944px;
            z-index: 50;
            >div:nth-child(1){
                width:  127px;
                height: 24px;
                background-color: #4EAF4E;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: white;
            }
            >div:nth-child(2){
                width: 1200px;
                display: flex;
                justify-content: space-between;
                align-items: end;
                h2{
                    font-size: 43px;
                    color: white;
                    width: 731px;
                }
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 42px;
                    width: 168px;
                    height: 61px;
                    background-color: #FFCC4A;
                    color: black;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
            >div:nth-child(3){
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1200px;
                height: 763px;
                background-color: #FAFAFA;
                border-radius: 30px;
                >div{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 25px;
                    grid-row-gap: 25px; 
                    width: 1150px;
                    height: 713px;
                    >div{
                        width: 366px;
                        height: 344px;
                        border-radius: 20px;
                        >div{
                            display: none;
                        }
                    }
                    >div:hover{
                        >div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #18181899;
                            width: 100%;
                            height: 344px;
                            border-radius: 20px;
                            >div{
                                width: 310px;
                                height: 297px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                >div:nth-child(1){
                                    width: 100%;
                                    display: flex;
                                    justify-content: end;
                                    >div{
                                        width: 54px;
                                        height: 54px;
                                        background: linear-gradient(-26deg, #DDA003, #FFE9B1);
                                        border-radius: 150px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 53px;
                                        font-family: "Cabin", sans-serif !important;
                                        p{
                                            height: 80px;
                                        }
                                    }
                                }
                                >div:nth-child(2){
                                    >h3{
                                        font-size: 25px;
                                        color: white;
                                    }
                                    >p{
                                        font-size: 16px;
                                        color: #FFCC4A;
                                    }
                                }
                            }
                        }
                    }
                    >div:nth-child(1){
                        background-image: url(Home_assets/Hover.png);
                    }
                    >div:nth-child(2){
                        background-image: url(Home_assets/Hover2.png);
                    }
                    >div:nth-child(3){
                        background-image: url(Home_assets/Hover3.png);
                    }
                    >div:nth-child(4){
                        background-image: url(Home_assets/Hover4.png);
                    }
                    >div:nth-child(5){
                        background-image: url(Home_assets/Hover5.png);
                    }
                    >div:nth-child(6){
                        background-image: url(Home_assets/Hover6.png);
                    }
                }
            }
        }
    }
    .background7{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            width: 895px;
            height: 91px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                >h3{
                    font-size: 50px;
                }
                >p{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
    .background8{
        width: 100%;
        height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            width: 654px;
            height: 556px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            >div:nth-child(1){
                width:  205px;
                height: 24px;
                background-color: #4EAF4E;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: white;
            }
            h2{
                font-size: 40px;
                text-align: center;
                color: #CECECE;
                width: 628px;
                span{
                    color: #181818;
                }
            }
            >div:nth-child(3){
                width: 654px;
                height: 211px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >button{
                    width: 125px;
                    height: 60px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-size: 18px;
                    border: none;
                    border-radius: 42px;
                    background-color: #F3F3F3;
                }
                >div{
                    width: 210px;
                    height: 290px;
                    >div{
                        >div{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: column;
                            width: 100%;
                            height: 290px;
                            >div{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-direction: column;
                                height: 54px;
                                h3{
                                    font-size: 20px;
                                }
                                h4{
                                    color: #4EAF4E;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .background9{
        width: 100%;
        height: 788px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            width: 1200px;
            height: 525px;
            background-color: #181818;
            border-radius: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 90px;
            padding-right: 90px;
            >div{
                height: 294px;
                width: 427px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;
                >div:nth-child(1){
                    width: 139px;
                    height: 24px;
                    background-color: #4EAF4E;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                h2{
                    font-size: 38px;
                    span{
                        color: #727272;
                    }
                }
                p{
                    font-size: 16px;
                }
                >div:nth-child(4){
                    width: 193px;
                    height: 61px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 42px;
                    background-color: #FFCC4A;
                    color: #181818;
                    font-weight: 500;
                    p{
                        font-size: 18px;
                        padding-left: 6px;
                    }
                }
            }
        }
    }
    .background10{
        width: 100%;
        height: 1131px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
        >div{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 775px;
            width: 1200px;
            >div:nth-child(1){
                display: flex;
                width: 100%;
                height: 126px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >div:nth-child(1){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 507px;
                    h2{
                        font-size: 45px;
                    }
                    >div{
                        width: 76px;
                        height: 26px;
                        background-color: #4EAF4E;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        border-radius: 20px;
                        font-size: 16px;
                        letter-spacing: 1px;
                    }
                }
                >div:nth-child(2){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 167px;
                    height: 61px;
                    background-color: #FFCC4A;
                    border-radius: 42px;
                }
            }
            >div:nth-child(2){
                width: 1200px;
                height: 603px;
                display: flex;
                justify-content: space-between;
                >div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 603px;
                    width: 583px;
                    align-items: start;
                    h3{
                        font-size: 30px;
                    }
                    >p{
                        color: #595566;
                    }
                    hr{
                        width: 100%;
                    }
                    >div{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        align-items: start;
                        height: 89px;
                        >div{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 61px;
                            >div:nth-child(1){
                                display: flex;
                                justify-content: space-between;
                                width: 328px;
                                height: 60px;
                                >div{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 260px;
                                    >hr{
                                        width: 0px;
                                        height: 14px;
                                    }
                                }
                                
                            }
                            >div:nth-child(2){
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 167px;
                                height: 61px;
                                border: 1px solid #C1C1C1;
                                border-radius: 42px;
                            }
                        }
                    }
                }
            }
        }
    }
    .background11{
        @include center;
        width: 100%;
        height: 850px;
        >div{
            width: 1268px;
            height: 574px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            >div:nth-child(1){
                width: 470px;
                height: 550px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                >div:nth-child(1){
                    @include yellow;
                    @include block;
                    width: 127px;
                    height: 26px;
                }
                h2{
                    font-size: 45px;
                }
                >p{
                    color: #595566;
                }
                >div:nth-child(4){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    width: 330px;
                    height: 296px;
                    >div{
                        display: flex;
                        align-items: center;
                        >div{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;
                            padding-left: 16px;
                            p{
                                color: #595566;
                            }
                            h3{
                                font-size: 20px;
                                padding-top: 3px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            >form:nth-child(2){
                width: 688px;
                height: 534px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                >div:nth-child(1){
                    width: 666px;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                >div:nth-child(2){
                    width: 666px;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                >div:nth-child(3){
                    width: 666px;
                    height: 189px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    >input{
                        width: 633px;
                        height: 77px;
                        padding-left: 33px;
                        border-radius: 22px;
                        border: 1px solid #C1C1C1;
                        padding-bottom: 70px;
                    }
                }
                >div{
                    >div{
                        input{
                            width: 285px;
                            height: 68px;
                            padding-left: 33px;
                            border-radius: 54px;
                            border: 1px solid #C1C1C1;
                        }
                    }
                }
                >button{
                    width: 168px;
                    height: 61px;
                    background-color: #181818;
                    color: white;
                    border-radius: 42px;
                    border: none;
                    font-size: 18px;
                }
            }
        }
    }
}