@mixin block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin yellow{
    background-color: #FFCC4A;
}
@mixin green{
    background-color: #4EAF4E;
}

.contact{
    .background1{
        @include center;
        width: 100%;
        height: 487px;
        background-image: url(./Contact_assets/background1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        >div{
            @include center;
            background-color: #ffffffD8;
            width: 603px;
            height: 199px;
            border-radius: 29px;
            margin-right: 600px;
            >div{
                width: 503px;
                height: 103px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2{
                    font-size: 50px;
                }
                >div{
                    @include center;
                    background-color: #FFCC4A;
                    color: black;
                    width: 80px;
                    height: 24px;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .background2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 705px;
        >div{
            width: 1300px;
            height: 571px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >div{
                width: 481px;
                height: 364px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                >div:nth-child(1){
                    @include block;
                    @include green;
                    width: 126px;
                    height: 24px;
                    color: white;
                }
                h2{
                    font-size: 45px;
                }
                >p{
                    color: #595566;
                }
                >div:nth-child(4){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 326px;
                    height: 180px;
                    >div{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        >div:nth-child(1){
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #181818;
                            width: 50px;
                            height: 50px;
                            border-radius: 100px;
                        }
                        >div:nth-child(2){
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 43px;
                            padding-left: 20px;
                            h3{
                                color: #595566;
                                font-size: 16px;
                                font-weight: 500;
                            }
                            h5{
                                font-weight: 600;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

        }
    }
    .background3{
        width: 100%;
        height: 450px;
        @include center;
        >form{
            background-color: #181818;
            background-image: url(../Team/Team_assets/Background2.png);
            width: 1200px;
            height: 252px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 20px;
            >div:nth-child(1){
                width: 447px;
                height: 77px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;
                >h3{
                    font-size: 35px;
                }
            }
            >div:nth-child(2){
                width: 500px;
                height: 68px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >input{
                    width: 284px;
                    height: 68px;
                    border-radius: 54px;
                    padding-left: 20px;
                    border: none;
                }
                >button{
                    width: 168px;
                    height: 61px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 42px;
                    @include yellow;
                    color: black;
                    font-size: 18px;
                    border: none;
                    font-weight: 600;   
                }
            }
        }
    }
    .background4{
        @include center;
        width: 100%;
        height: 850px;
        >div{
            width: 1268px;
            height: 574px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            >div:nth-child(1){
                width: 470px;
                height: 550px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                >div:nth-child(1){
                    @include yellow;
                    @include block;
                    width: 127px;
                    height: 26px;
                }
                h2{
                    font-size: 45px;
                }
                >p{
                    color: #595566;
                }
                >div:nth-child(4){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    width: 330px;
                    height: 296px;
                    >div{
                        display: flex;
                        align-items: center;
                        >div{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;
                            padding-left: 16px;
                            p{
                                color: #595566;
                            }
                            h3{
                                font-size: 20px;
                                padding-top: 3px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            >form:nth-child(2){
                width: 688px;
                height: 534px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                >div:nth-child(1){
                    width: 666px;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                >div:nth-child(2){
                    width: 666px;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                >div:nth-child(3){
                    width: 666px;
                    height: 189px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    >input{
                        width: 633px;
                        height: 77px;
                        padding-left: 33px;
                        border-radius: 22px;
                        border: 1px solid #C1C1C1;
                        padding-bottom: 70px;
                    }
                }
                >div{
                    >div{
                        input{
                            width: 285px;
                            height: 68px;
                            padding-left: 33px;
                            border-radius: 54px;
                            border: 1px solid #C1C1C1;
                        }
                    }
                }
                >button{
                    width: 168px;
                    height: 61px;
                    background-color: #181818;
                    color: white;
                    border-radius: 42px;
                    border: none;
                    font-size: 18px;
                }
            }
        }
    }
}