@mixin block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin yellow{
    background-color: #FFCC4A;
}
@mixin green{
    background-color: #4EAF4E;
}
.Blog{
    .background1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 487px;
        background-image: url(./Blog_assets/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffffD8;
            width: 603px;
            height: 199px;
            border-radius: 29px;
            margin-right: 600px;
            >div{
                width: 503px;
                height: 103px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2{
                    font-size: 50px;
                }
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFCC4A;
                    color: black;
                    width: 80px;
                    height: 24px;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            } 
        }
    }
    .background2{
        width: 100%;
        height: 2469px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
        >div{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 2124px;
            width: 1200px;
            >div:nth-child(1){
                display: flex;
                width: 100%;
                height: 126px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >div:nth-child(1){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 507px;
                    h2{
                        font-size: 45px;
                    }
                    >div{
                        width: 76px;
                        height: 26px;
                        background-color: #4EAF4E;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        border-radius: 20px;
                        font-size: 16px;
                        letter-spacing: 1px;
                    }
                }
                >div:nth-child(2){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 167px;
                    height: 61px;
                    background-color: #FFCC4A;
                    border-radius: 42px;
                }
            }
            >div:nth-child(2){
                width: 1200px;
                height: 1929px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 27px;
                grid-row-gap: 60px; 
                >div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 603px;
                    width: 583px;
                    align-items: start;
                    h3{
                        font-size: 30px;
                    }
                    >p{
                        color: #595566;
                    }
                    hr{
                        width: 100%;
                    }
                    >div{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        align-items: start;
                        height: 89px;
                        >div{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 61px;
                            >div:nth-child(1){
                                display: flex;
                                justify-content: space-between;
                                width: 328px;
                                height: 60px;
                                >div{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 260px;
                                    >hr{
                                        width: 0px;
                                        height: 14px;
                                    }
                                }
                                
                            }
                            >div:nth-child(2){
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 167px;
                                height: 61px;
                                border: 1px solid #C1C1C1;
                                border-radius: 42px;
                            }
                        }
                    }
                }
            }
        }
    }
    .background3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        >div{
            display: flex;
            justify-content: end;
            align-items: center;
            border-radius: 30px;
            width: 1200px;
            height: 411px;
            background-color: #181818;
            >div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                height: 253px;
                width: 500px;
                color: white;
                >div:nth-child(1){
                    width: 119px;
                    height: 24px;
                    background-color: #323232;
                    color: white;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h2{
                    font-size: 45px;
                }
                >div:nth-child(4){
                    width: 500px;
                    height: 68px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    >input{
                        width: 284px;
                        height: 68px;
                        border-radius: 54px;
                        padding-left: 20px;
                        border: none;
                    }
                    >button{
                        width: 168px;
                        height: 61px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 42px;
                        background-color: #4EAF4E;
                        color: white;
                        font-size: 18px;
                        border: none;   
                    }
                }
            }
        }
    }
}