.services{
    .background1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 620px;
        background-image: url(./Services_assets/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffffD8;
            width: 788px;
            height: 267px;
            border-radius: 29px;
            margin-right: 400px;
            >div{
                width: 688px;
                height: 161px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2{
                    font-size: 50px;
                }
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFCC4A;
                    color: black;
                    width: 118px;
                    height: 24px;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .background4{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1200px;
        background-color: #F5F5F5;
        >div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 842px;
            >div:nth-child(1){
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #4EAF4E;
                color: white;
                width: 120px;
                height: 24px;
                border-radius: 20px;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            >h2{
                font-size: 45px;
                width: 900px;
                text-align: center;
            }
            >div:nth-child(3){
                width: 1200px;
                height: 668px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px; 
                >div{
                    width: 387px;
                    height: 324px;
                    background-color: #EBEBEB;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    p{
                        font-size: 14px;
                        color: #595566;
                    }
                    >div{
                        width: 293px;
                        height: 226px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        align-items: start;
                        h3{
                            font-size: 25px;
                        }

                    }
                }
                >div:nth-child(2){
                    background-color: #181818;
                    color: white;
                        p{
                        color: white;
                    }
                }
            }
        }
    }
}