@mixin block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin yellow{
    background-color: #FFCC4A;
}
@mixin green{
    background-color: #4EAF4E;
}
.services{
    .background1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 620px;
        background-image: url(./Services_assets/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffffD8;
            width: 788px;
            height: 267px;
            border-radius: 29px;
            margin-right: 400px;
            >div{
                width: 688px;
                height: 161px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2{
                    font-size: 50px;
                }
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFCC4A;
                    color: black;
                    width: 118px;
                    height: 24px;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .background4{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1200px;
        background-color: #F5F5F5;
        >div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 842px;
            >div:nth-child(1){
                @include block;
                background-color: #4EAF4E;
                color: white;
                width: 120px;
                height: 24px;

            }
            >h2{
                font-size: 45px;
                width: 900px;
                text-align: center;
            }
            >div:nth-child(3){
                width: 1200px;
                height: 668px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px; 
                >div{
                    width: 387px;
                    height: 324px;
                    background-color: #EBEBEB;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    p{
                        font-size: 14px;
                        color: #595566;
                    }
                    >div{
                        width: 293px;
                        height: 226px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        align-items: start;
                        h3{
                            font-size: 25px;
                        }

                    }
                }
                >div:nth-child(2){
                    background-color: #181818;
                    color: white;
                        p{
                        color: white;
                    }
                }
            }
        }
    }
    .background2{
        width: 100%;
        height: 885px;
        @include center;
        >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1282px;
            height: 590px;
            >div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                width: 473px;
                >div:nth-child(1){
                    @include block;
                    width: 107px;
                    height: 25px;
                    background-color: #FFCC4A;
                    color: #181818;
                }
                h2{
                    font-size: 45px;
                    width: 100%;
                }
                >div:nth-child(3){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 459px;
                    height: 399px;
                    >div{
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        width: 100%;
                        height: 108px;
                        >div{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;
                            width: 408px;
                            height: 108px;
                            h3{
                                font-size: 20px;
                            }
                            p{
                                font-size: 16px;
                                color: #595566;
                            }
                        }
                    }
                }
            }
        }
    }
    .background3{
        @include center;
        width: 100%;
        height: 1016px;
        background-color: #F5F5F5;
        >div{
            width: 1200px;
            height: 718px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            >div:nth-child(1){
                @include block;
                background-color: #4EAF4E;
                width: 106px;
                height: 24px;
            }
            h2{
                font-size: 45px;
            }
            >div:nth-child(3){
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 580px;
                >div{
                    width: 387px;
                    height: 611px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 21px;
                    >div{
                        width: 340px;
                        height: 546px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        >div:nth-child(1){
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-image: url(./Services_assets/Back2.png);
                            width: 340px;
                            height: 246px;
                            border-radius: 21px;
                            color: white;
                            >div{
                                width: 271px;
                                height: 184px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                >div:nth-child(1){
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    height: 90px;
                                    h3{
                                        font-size: 26px;
                                    }
                                }
                                >div:nth-child(2){
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 250px;
                                    height: 61px;
                                    >p{
                                        font-size: 52px;
                                        font-weight: 600;
                                    }
                                    >div{
                                        width: 130px;
                                        height: 25px;
                                        background-color: #4EAF4E;
                                        color: white;
                                        border-radius: 20px;
                                        font-size: 16px;
                                        text-transform: uppercase;
                                        letter-spacing: 2px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                        >div:nth-child(2){
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 216px;
                            height: 168px;
                            padding-left: 30px;
                            >div{
                                display: flex;
                                align-items: center;
                                >p{
                                    padding-left: 15px;
                                }
                            }
                        }
                        >div:nth-child(3){
                            width: 340px;
                            height: 61px;
                            background-color: #FFCC4A;
                            border-radius: 44px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 19px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .background5{
        @include center;
        width: 100%;
        height: 850px;
        >div{
            width: 1268px;
            height: 574px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            >div:nth-child(1){
                width: 470px;
                height: 550px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                >div:nth-child(1){
                    @include yellow;
                    @include block;
                    width: 127px;
                    height: 26px;
                }
                h2{
                    font-size: 45px;
                }
                >p{
                    color: #595566;
                }
                >div:nth-child(4){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    width: 330px;
                    height: 296px;
                    >div{
                        display: flex;
                        align-items: center;
                        >div{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;
                            padding-left: 16px;
                            p{
                                color: #595566;
                            }
                            h3{
                                font-size: 20px;
                                padding-top: 3px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            >form:nth-child(2){
                width: 688px;
                height: 534px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                >div:nth-child(1){
                    width: 666px;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                >div:nth-child(2){
                    width: 666px;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                >div:nth-child(3){
                    width: 666px;
                    height: 189px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    >input{
                        width: 633px;
                        height: 77px;
                        padding-left: 33px;
                        border-radius: 22px;
                        border: 1px solid #C1C1C1;
                        padding-bottom: 70px;
                    }
                }
                >div{
                    >div{
                        input{
                            width: 285px;
                            height: 68px;
                            padding-left: 33px;
                            border-radius: 54px;
                            border: 1px solid #C1C1C1;
                        }
                    }
                }
                >button{
                    width: 168px;
                    height: 61px;
                    background-color: #181818;
                    color: white;
                    border-radius: 42px;
                    border: none;
                    font-size: 18px;
                }
            }
        }
    }
}
