.fone{
    width: 100%;
    height: 488px;
    background-image: url(./Footer_assets/Background.png);
    display: flex;
    justify-content: center;
    align-items: end;
    >div{
        width: 1200px;
        height: 337px;
        display: flex;
        padding-bottom: 25px;
        justify-content: space-between;
        flex-direction: column;
        >div:nth-child(1){
            display: flex;
            justify-content: space-between;
            height: 236px;
            width: 100%;
            >div:nth-child(1){
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 181px;
                height: 85px;
                color: white;
                p{
                    font-size: 20px;
                }
                >div{
                    display: flex;
                    justify-content: space-between;
                    width: 190px;
                    align-items: center;
                    h2{
                        font-size: 28px;
                    }
                    
                }
            }
            >div:nth-child(3){
                width: 676px;
                height: 191px;
                display: flex;
                justify-content: space-between;
                color: white;
                >div{
                    >hr{
                        border: 2px solid #FFCC4A;
                        width: 32px;
                        border-radius: 20px;
                    }
                }
                >div:nth-child(1){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 167px;
                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 120px;

                    }
                }
                >div:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 191px;
                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 144px;
                    }
                }
                >div:nth-child(3){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 180px;
                    width: 232px;
                    >div:nth-child(1){
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 40px;
                        >hr{
                            border: 2px solid #FFCC4A;
                            width: 32px;
                            border-radius: 20px;
                        }
                    }
                    >div:nth-child(3){
                        width: 214px;
                        height: 59px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        color: black;
                        border-radius: 42px;
                        font-size: 18px;
                    }
                }
            }
        }
        >div:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 1200px;
            height: 43px;
            color: white;
            hr{
                width: 1200px;
            }
        }
    }
    hr{
        border: 1px solid #707070;

    }
}