header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
    nav{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 560px;
            a{
                color: black;
                text-decoration: none;
                font-size: 18px;
            }
            li{
                list-style: circle;
            }
        }
        >a:nth-child(1){
            display: flex;
            justify-content: space-between;
            width: 190px;
            align-items: center;
            text-decoration: none;
            color: black;
        }
        h1{
            font-size: 28px;
        }
        >div:nth-child(3){
            background-color: #F3F3F3;
            display: flex;
            align-items: center;
            width: 250px;
            height: 60px;
            border-radius: 42px;
            >div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 200px;
                height: 44px;
                font-size: 18px;
                padding-left: 10px;
                >div{
                    width: 44px;
                    height: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFC32B;
                    border-radius: 1500px;
                }
            }
        }
    }
}