.about{
    .background1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 620px;
        background-image: url(./About_assets/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffffD8;
            width: 788px;
            height: 267px;
            border-radius: 29px;
            margin-right: 400px;
            >div{
                width: 688px;
                height: 161px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2{
                    font-size: 50px;
                }
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFCC4A;
                    color: black;
                    width: 118px;
                    height: 24px;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .background2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 776px;
        >div{
            width: 1272px;
            height: 531px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            >div:nth-child(1){
                width: 1272px;
                height: 390px;
                display: flex;
                justify-content: space-between;

                >div{
                    width: 590px;
                    height: 271px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    >div:nth-child(1){
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #4EAF4E;
                        color: white;
                        width: 135px;
                        height: 24px;
                        border-radius: 20px;
                        font-size: 16px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                    >h3{
                        font-size: 45px;
                    }
                    >p{
                        color: #595566;
                    }
                    >div:nth-child(4){
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        width: 558px;
                        height: 38px;
                        >p{
                            width: 519px;
                        }
                    }
                    >div:nth-child(5){
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        width: 558px;
                        height: 38px;
                        >p{
                            width: 519px;
                        }
                    }
                }
            }
            >div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 895px;
                height: 91px;
                >div{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;
                    height: 91px;
                    h3{
                        font-size: 50px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .background3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 703px;
        background-color: #F5F5F5;
        >div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 1200px;
            height: 503px;
            >div:nth-child(1){
                width: 100%;
                height: 143px;
                display: flex;
                justify-content: space-between;
                align-items: end;
                >div:nth-child(1){
                    width: 688px;
                    height: 143px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    >div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FFCC4A;
                        color: black;
                        width: 319px;
                        height: 24px;
                        border-radius: 20px;
                        font-size: 16px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                    >h2{
                        font-size: 45px;
                    }
                    >p{
                        color: #595566;
                    }
                }
                >div:nth-child(2){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 167px;
                    height: 59px;
                    background-color: #181818;
                    border-radius: 42px;
                    color: white;
                }
            }
            >div:nth-child(2){
                display: flex;
                justify-content: space-between;
                width: 1200px;
                height: 326px;
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 20px;
                    >div{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        h3{
                            font-size: 20px;
                        }
                        p{
                            color: #595566;
                        }
                        div{
                            display: flex;
                            justify-content: space-between;
                            width: 110px;
                            align-items: center;
                            height: 29px;
                            h4{
                                font-size: 18px;
                            }
                        }
                    }
                }
                >div:nth-child(odd){
                    width: 272px;
                    height: 326px;
                    >div{
                        width: 226px;
                        height: 254px;
                    }
                }
                >div:nth-child(even){
                    width: 272px;
                    height: 276px;
                    >div{
                        width: 226px;
                        height: 204px;
                    }
                }
            }
        }
    }
    .background4{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 951px;
        >div{
            width: 1061px;
            height: 651px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            >div:nth-child(1){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 732px;
                height: 211px;
                text-align: center;
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #4EAF4E;
                    color: white;
                    width: 151px;
                    height: 24px;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                h2{
                    font-size: 45px;
                }
                >p{
                    color: #595566;
                }
            }
            >div:nth-child(2){
                background-image: url(./About_assets/background2.png);
                width: 1061px;
                height: 430px;
                display: flex;
                justify-content: center;
                align-items: center;
                >iframe{
                    border-radius: 28px;
                }
            }
        }
    }
    .background5{
        width: 100%;
        height: 1118px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
        >div{
            width: 1200px;
            height: 818px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            >div:nth-child(1){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                width: 643px;
                height: 211px;
                >div{
                    width: 123px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFCC4A;
                    color: black;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                h2{
                    font-size: 45px;
                }
                >p{
                    color: #595566;
                }
            }
            >div:nth-child(2){
                width: 1200px;
                height: 563px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >div:nth-child(1){
                    >div:nth-child(1){
                        background-image: url(./About_assets/women.png);
                        >div{
                            height: 34px;
                            width: 164px;
                            background-color: #FFCC4A;
                        }
                    }
                }
                >div:nth-child(2){
                    >div:nth-child(1){
                        background-image: url(./About_assets/man.png);
                        >div{
                            height: 34px;
                            width: 105px;
                            background-color: #181818;
                            color: white;
                        }
                    }
                }
                >div:nth-child(3){
                    >div:nth-child(1){
                        background-image: url(./About_assets/women2.png);
                        >div{
                            height: 34px;
                            width: 164px;
                            background-color: #181818;
                            color: white;
                        }
                    }
                }
                >div{
                    width: 366px;
                    height: 563px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    >div:nth-child(1){
                        width: 366px;
                        height: 392px;
                        display: flex;
                        justify-content: end;
                        align-items: end;
                        border-radius: 20px;
                        >div{
                            height: 34px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: black;
                            border-radius: 20px;
                            font-size: 16px;
                            margin-right: 20px;
                            margin-bottom: 25px;
                        }
                    }
                    h3{
                        font-size: 30px;
                    }
                    >p{
                        color: #595566;
                        text-align: center;
                    }
                    >div:nth-child(4){
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 130px;
                        height: 23px;
                    }
                }
            }
        }
    }
    .background9{
        width: 100%;
        height: 788px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            width: 1200px;
            height: 525px;
            background-color: #181818;
            border-radius: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 90px;
            padding-right: 90px;
            >div{
                height: 294px;
                width: 427px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;
                >div:nth-child(1){
                    width: 139px;
                    height: 24px;
                    background-color: #4EAF4E;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    border-radius: 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                h2{
                    font-size: 38px;
                    span{
                        color: #727272;
                    }
                }
                p{
                    font-size: 16px;
                }
                >div:nth-child(4){
                    width: 193px;
                    height: 61px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 42px;
                    background-color: #FFCC4A;
                    color: #181818;
                    font-weight: 500;
                    p{
                        font-size: 18px;
                        padding-left: 6px;
                    }
                }
            }
        }
    }
}